<html>
<head>
	<title></title>	
</head>
<canvas id = "my_canvas" width="1000" height="1000" style= "outline: #00FF00 solid"></canvas>
</body>
<script type="text/javascript" src= "box2D.js"></script>
<script type="text/javascript" src= "Stats.js"></script>
<script type="text/javascript" src="xhr.js"></script>
<script type="text/javascript" src="core.js"></script>
<script type="text/javascript" src="inputEngine.js"></script>
<script type="text/javascript" src= "PlayerClass.js"></script>
<script type="text/javascript" src="TiledMapClass.js"></script>
<script type="text/javascript" src="game.js"></script>

</html>